section *, nav * {
  font-family: "Montserrat", sans-serif !important;
}

html {
  min-height: 100vh !important;
}

body {
  min-height: 100vh !important;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  display: none;
  width: 10px;
  float: right;
  background: transparent !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
  max-height: 2.5vh !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

/** HEADER  STUFF **/

#navbarHeader {
  height: 100vh;
  background-color: #fff;
  border: none !important;
}

/** LOGO SVG STUFF **/
/*
#logo {
  height: 4.5vh;
  width: auto;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 0.5vh;
}
*/
#logo .st0 {
  fill:#000;
}
#logo .st1 {
  fill:none;
  stroke:#000;
  stroke-width:4.4179;
  stroke-miterlimit:10;
}

#logo {
  height: 17vh;
  width: auto;
  position: relative;
  opacity: 0;
  display: block;
  margin: 0 auto;
  margin-top: 32.5vh;
}

.hidden {
  display: none;
}

.hidden2 {
  opacity: 0 !important;
}

.titleContainer {
  border: solid 3px #000;
  padding: 0 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: max-content;
}


.brandSection {
  min-height: 100vh !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footerSection {
  background: #000;
  color: #fff !important;
  height: 11vh !important;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  line-height: 10px;
  font-size: 1em;
}

.footerInfo {
  padding-top: 1.75vh;
  margin: 0 auto;
  width: 100vw;
  height: inherit;
}

#blankName {
  line-height: 15px;
  font-size: 1.45em;
}

.²markit {
  font-size: 9.5px;
  margin-top: 1.75vh;
  margin-bottom: 0px;
}

.wrapperSocials {
  margin: 0 auto;
  margin-top: -6.5vh;
  margin-left: 2vw;
  height: 2.5vh;
  float: left;
}

.socials {
  height: 2.5vh;
  display: inline-flex;
  padding: 0 0.45vw;
}

.socials img {
  height: 2.5vh;
}

h1 {
  text-align: center;
  margin: 0px;
  font-size: 4.75rem;
}

.sectionText {
  font-size: 1.075em !important;
  text-align: center;
  line-height: 22.5px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rightParagraph {
  max-width: 40vw;
  height: 85vh;
  margin: 0 auto;
  margin-right: 0vw;
  padding: 32vh 7.5vh 25vh 7.5vh;
  vertical-align: middle;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.leftParagraph {
  max-width: 40vw;
  height: 85vh;
  margin: 0 auto;
  margin-left: 0vw;
  padding: 32vh 7.5vh 25vh 7.5vh;
  vertical-align: middle;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/** NAVIGATION **/

.spinner {
  width: 100%;
  height: inherit;
  position: relative;
  display: flex;
}
.spinner:after, .spinner:before {
  content: "";
  display: block;
  height: 35px;
}

.spinner-5 {
  height: 0px;
}
.spinner-5 span {
  height: 35px;
}
.spinner-5 span:nth-child(1) {
  -webkit-animation: bounce 2.65s ease-in-out infinite;
  animation: bounce 2.65s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    will-change: transform;
  }
  25%, 75% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    will-change: transform;
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    will-change: transform;
  }
  25%, 75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    will-change: transform;
  }
}

.prev {
  margin-left: 0;
}

.next {
  display: none;
  width: 60px;
  position: relative;
  margin: 0 auto;
  height: 40px;
}

.icon-wrap {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
  display: flex;
  background: transparent;
  bottom: -5vh;
}

.icon-wrap img {
  height: 35px;
  width: 35px;
  display: flex;
  background: transparent;
  margin: 0 auto;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: 5px solid #fff;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  -webkit-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 11.35px;
  top: 9.45px;
  font-size: 19px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#return-to-top:hover {
  background: #fff;
}

#return-to-top:hover i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 19px;
}

/** SPLIT PANELS **/

.splitPanels {
  display: flex;
  perspective: 2000px;
  max-width: 60vw;
  margin: 0 auto;
  margin-top: 2.75vw;
  transform: scale(0.9);
}

#leftSide {
  margin-left: 0.5vw;
  float: left;
}

.leftPanel,
.rightPanel,
.leftPanel figure, .rightPanel figure {
  height: 80vh;
  width: 15vw;
}

.leftPanel img, .rightPanel img {
  height: 100%;
  width: 100%;
}

/*Left Panel*/

.frontLeft,
.backLeft {
  transform-origin: right center;
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
}

.frontLeft {
  z-index: 4;
  display: none;
}

.backLeft {
}

.leftPanel {
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  margin-left: 0;
  background: #fff;
  z-index: 4;
}

.leftPanel:active {
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  margin-left: 0vw;
  background: #fff;
}


#leftSide {
  margin-left: 0.5vw;
  float: left;
}

.leftPanel,
.rightPanel,
.leftPanel figure, .rightPanel figure {
  height: 80vh;
  width: 15vw;
}

.leftPanel img, .rightPanel img {
  height: 100%;
  width: 100%;
}

/*Center Panel*/

.centerPanel {
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
  z-index: 1;
  height: 80vh;
  width: 33vw;
  margin-left: 1vw;
  -webkit-box-shadow: 0px 28px 55px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 55px -23px rgba(0,0,0,0.75);
  box-shadow: 0px 28px 55px -23px rgba(0,0,0,0.75);
}

.centerPanel img {
  position: relative;
  height: 100%;
  width: 100%;
}


/*Right Panel*/

#rightSide {
  margin-right: 0.5vw;
  float: right;
}

.frontRight,
.backRight {
  position: absolute;
  transform-origin: left center;
  overflow: hidden;
  -webkit-box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
}

.frontRight {
  z-index: 4;
  display: none;
}

.backRight {
}

.rightPanel {
  transform-style: preserve-3d;
  position: relative;
  background: #fff;
  z-index: 4;
}

.rightPanel:active {
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  margin-right: 0vw;
  background: #fff;
}

/* Front, Back of brochure*/


.frontRight,
.frontLeft {
  backface-visibility: hidden;
}


.frontRight,
.frontLeft,
.backRight,
.backLeft {
  position: absolute;
  /*backface-visibility: hidden;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*MOBILE*/   /*Left Panel*/
#mobilePanelLeft , #mobilePanelRight {
    margin-bottom: -85vh;
}


.mobileFrontLeft,
.mobileBackLeft {
  transform-origin: right center;
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
}

.mobileFrontLeft {
  z-index: 4;
  display: none;
}

.mobileBackLeft {
}

#mobilePanelLeft {
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  margin-left: 0;
  background: #fff;
  z-index: 4;
}

#mobilePanelLeft:active {
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  margin-left: 0vw;
  background: #fff;
}


#mobilePanelLeft,
#mobilePanelRight,
#mobilePanelLeft figure, #mobilePanelRight figure {
  height: 85vh;
  width: 100vw;
  box-shadow: none !important;
}

#mobilePanelLeft img, #mobilePanelRight img {
  height: 100%;
  width: 100%;
}


/*MOBILE*/   /*Right Panel*/
.mobileFrontRight,
.mobileBackRight {
  position: absolute;
  transform-origin: left center;
  overflow: hidden;
  -webkit-box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
}

.mobileFrontRight {
  z-index: 4;
  display: none;
}

.mobileBackRight {
}

#mobilePanelRight {
  transform-style: preserve-3d;
  position: relative;
  background: #fff;
  z-index: 4;
}

/* Front, Back of brochure*/


.mobileFrontRight,
.mobileFrontLeft {
  backface-visibility: hidden;
}


.mobileFrontRight,
.mobileFrontLeft ,
.mobileBackRight,
.mobileBackLeft  {
  position: absolute;
  /*backface-visibility: hidden;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





/*Right Panels*/
@-webkit-keyframes frontRight {
  0% {
    transform: rotateY(-194deg);
    transform-origin: left center;
    will-change: transform;
  }
  100% {
    transform: rotateY(0deg);
    will-change: transform;
  }
}
@-webkit-keyframes backRight {
  0% {
    transform: rotateY(0deg);
    transform-origin: right center;
    will-change: transform;
  }
  100% {
    transform: rotateY(194deg);
    will-change: transform;
  }
}

/*Left Panels*/

@-webkit-keyframes frontLeft {
  0% {
    transform: rotateY(194deg);
    transform-origin: right center;
    will-change: transform;
  }
  100% {
    transform: rotateY(0deg);
    will-change: transform;
  }
}
@-webkit-keyframes backLeft {
  0% {
    transform: rotateY(0deg);
    transform-origin: right center;
    will-change: transform;
  }
  100% {
    transform: rotateY(-194deg);
    will-change: transform;
  }
}

.leftAnim {
  -webkit-animation: frontLeft 1s;
}

.rightAnim {
  -webkit-animation: frontRight 1s;
}

.backLeft {
  z-index: 5 !important;
  background: #fff;
}

.backRight {
  z-index: 5 !important;
  background: #fff;
}


    /*LOGO SHRINK ANIMATION*/

@-webkit-keyframes headerFade {
  0% {
    background-color: #fff;
  }
  70% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}

@-webkit-keyframes logoFade {
  0% {
    fill:#000;
  }
  70% {
    fill:#000;
  }
  100% {
    fill:#FFFFFF;
  }
}

@-webkit-keyframes logoFade2 {
  0% {
    stroke:#000;
  }
  70% {
    stroke:#000;
  }
  100% {
    stroke:#FFFFFF;
  }
}


.headerFadeAnim {
  -webkit-animation: headerFade 2s;
}

.logoFadeAnim {
  -webkit-animation: logoFade 1.5s;
}

.logoFade2Anim {
  -webkit-animation: logoFade2 1.5s;
}

/**SECTION 1 **/
#section1 {
  margin-top: 3.9vh;
}

/**SECTION 2 **/
#section2  {
}

/**SECTION 3 **/
#section3 {
}

/**SECTION 4**/
#section4 {
}

/**SECTION 5 **/
#section5 {
}

/**SECTION 6 **/
#section6 {
}

/**SECTION 7**/
#section7 {
}


/***************         MEDIA QUERIES       ***************/
@media (max-width: 650px) {
  #logo {
    height: 10vh;
    margin-top: 32.5vh;
  }

  .splitPanels {
    display: none !important;
  }

  .leftParagraph, .rightParagraph {
    float: none !important;
    margin: 0 auto !important;
    max-width: 100vw !important;
    padding: 27.5vh 2.75vh !important;
  }

  .footerSection {
    font-size: .85em !important;
    line-height: 5px !important;
    height: 19vh !important;
  }

  .footerInfo {
    margin: 0 auto !important;
    padding-top: 2vh !important;
    height: 13vh !important;
  }

  #blankName {
    font-size: 1.5em;
  }

  .²markit {
    font-size: 9.5px;
    margin-top: 1.75vh;
    margin-bottom: 0px;
  }

  .wrapperSocials {
    margin: 0.5vh 0 0.5vh 0;
    height: 2.5vh;
    display: inline-block;
    float: none !important;
  }

  .socials {
    height: 2.5vh;
    display: inline-flex;
    padding: 0 0.45vw;
  }
  .socials {
    height: 3.5vh !important;
    padding: 0 1.5vw !important;
  }

  .socials img {
    height: 3.5vh !important;
  }
}

@media (min-width: 650px) {
  #mobilePanelRight, #mobilePanelLeft {
    display: none !important;
  }
}
